/* ------------------------------------------------------------------------ */
/* GLOBAL VARIABLES */
/* ------------------------------------------------------------------------ */

:root {
  --cream: hsl(26, 67%, 95%, 1);
  --orange: hsl(24, 100%, 50%, 1);
  --navy: hsl(216, 64%, 13%, 1);
  --gray: hsl(217, 18%, 28%, 1);
  --cloud: #f5f6fa;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* HOMEPAGE */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

.index-body {
  display: grid;
  grid-template-columns: 1fr 1100px 1fr;
  grid-template-rows: 100vh repeat(4, -webkit-max-content);
  grid-template-rows: 100vh repeat(4, max-content);
  grid-template-areas:
    "header     header      header"
    ".          about         ."
    ".          process       ."
    ".          contact       ."
    "footer     footer      footer";
  background-color: var(--cream);
}

/* ------------------------------------------------------------------------ */
/* REUSABLE ITEMS */
/* ------------------------------------------------------------------------ */

.btn {
  display: inline-block;
  padding: 9px 29px;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.btn-full {
  background-color: var(--navy);
  color: var(--cream);
  border: 1px solid var(--navy);
}

.btn-ghost {
  border: 1px solid var(--navy);
  color: var(--navy);
}

.btn:hover,
.btn:active {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

.btn-ghost:hover,
.btn-ghost:active {
  color: var(--bright-white);
}

.about,
.process,
.contact {
  margin: 80px 0;
}

/* ------------------------------------------------------------------------ */
/* HEADINGS */
/* ------------------------------------------------------------------------ */

h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h1 {
  font-size: 300%;
  word-spacing: 3px;
}

h2 {
  font-size: 200%;
  word-spacing: 2px;
}

h3 {
  font-size: 130%;
  word-spacing: 1px;
}

h4 {
  font-size: 110%;
  word-spacing: 1px;
}

/* ------------------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------------------ */

.index-header {
  grid-area: header;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../resources/img/studying-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1100px 1fr;
  grid-template-rows: -webkit-max-content auto;
  grid-template-rows: max-content auto;
  grid-template-areas:
    "navbar    navbar      navbar"
    ".         content        .";
}

.index-nav {
  grid-area: navbar;
  display: grid;
  grid-template-columns: 1fr 1100px 1fr;
  background-color: var(--cream);
  grid-template-areas: ". content .";
  padding: 10px 0;
}

.index-nav .nav-content {
  grid-area: content;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
}

.index-nav .nav-content .navbar-links {
  display: grid;
  align-items: center;
  justify-items: end;
}

.index-nav img {
  height: 40px;
  width: auto;
}

.index-nav ul {
  list-style-type: none;
}

.index-nav ul li {
  display: inline-block;
  margin-left: 50px;
}

.index-nav ul a {
  text-decoration: none;
  color: var(--navy);
  transition: color 0.3s;
}

.index-nav ul a:hover {
  color: var(--orange);
}

.header-content {
  grid-area: content;
  display: grid;
  place-items: center;
}

.header-content .longcopy {
  width: 60%;
  color: var(--cream);
}

.header-content .longcopy p {
  margin: 20px 0;
  line-height: 150%;
}

/* ------------------------------------------------------------------------ */
/* ABOUT */
/* ------------------------------------------------------------------------ */
.about {
  grid-area: about;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content lottie";
}

.about .about-content {
  grid-area: content;
  width: 90%;
}

.about h2 {
  color: var(--navy);
}

.about p {
  color: var(--gray);
  margin-top: 20px;
  line-height: 180%;
}

.about .lottie {
  grid-area: lottie;
  display: grid;
  justify-content: end;
  align-content: center;
}

/* ------------------------------------------------------------------------ */
/* PROCESS */
/* ------------------------------------------------------------------------ */

.process {
  grid-area: process;
  display: grid;
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "process-text"
    "process-steps-row";
}

.process .process-text {
  grid-area: process-text;
}

.process .process-text h2 {
  text-align: center;
}

.process .process-text p {
  width: 60%;
  color: var(--gray);
  margin: 20px 20% 30px;
}

.process .process-steps-row {
  grid-area: process-steps-row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.process .process-steps-row svg {
  width: auto;
  height: 100px;
}

.process .process-steps-row .svg {
  display: grid;
  justify-content: center;
}

.process .process-steps-row p {
  font-size: 90%;
  margin-top: 10px;
  color: var(--gray);
}

.process .process-steps-row .process-steps-text {
  padding: 10px;
  margin-top: 10px;
}

.process .process-steps-row .process-steps-text h3 {
  color: var(--navy);
  text-align: center;
}

/* ------------------------------------------------------------------------ */
/* CONTACT */
/* ------------------------------------------------------------------------ */

.contact {
  grid-area: contact;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "form address"
    "form call-us";
}

.contact h2 {
  margin-bottom: 20px;
}

.contact .address,
.contact .call-us {
  padding-left: 200px;
}

.contact .address {
  grid-area: address;
}

.contact .call-us {
  grid-area: call-us;
}

.contact .form-div {
  grid-area: form;
}

.contact .form-div .index-form {
  display: grid;
  grid-template-rows: repeat(5, -webkit-max-content);
  grid-template-rows: repeat(5, max-content);
  grid-template-areas:
    "name-row"
    "email-row"
    "subject-row"
    "message-row"
    "submit-row";
  grid-row-gap: 20px;
}

.contact .form-div .name-row,
.contact .form-div .email-row,
.contact .form-div .subject-row,
.contact .form-div .message-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
}

.contact .form-div .name-row {
  grid-area: name-row;
}

.contact .form-div .email-row {
  grid-area: email-row;
}

.contact .form-div .subject-row {
  grid-area: subject-row;
}

.contact .form-div .message-row {
  grid-area: message-row;
}

::-webkit-input-placeholder {
  color: var(--gray);
}

::-moz-placeholder {
  color: var(--gray);
}

:-ms-input-placeholder {
  color: var(--gray);
}

::-ms-input-placeholder {
  color: var(--gray);
}

::placeholder {
  color: var(--gray);
}

.index-form input,
.index-form label,
.index-form textarea,
.index-form select {
  width: 100%;
}

input,
label,
textarea,
select {
  display: block;
  outline: 0;
}

.index-form input,
.index-form textarea,
.index-form select {
  padding: 5px;
  border-width: 0 0 2px;
  border-color: var(--navy);
  background-color: var(--cream);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 80%;
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--orange);
}

.contact .form-div textarea {
  resize: none;
  overflow: auto;
  padding: 10px;
}

.contact .form-div .submit-row {
  grid-area: submit-row;
  display: grid;
  justify-content: center;
}

.contact .form-div .submit-row button {
  margin: 0;
}

/* ------------------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------------------ */

.index-footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  color: var(--cream);
  background-color: var(--navy);
  padding: 40px 0;
}

.index-footer .socials {
  display: grid;
  justify-content: center;
}

.index-footer .socials ul {
  list-style-type: none;
}

.index-footer .socials ul li {
  display: inline-block;
}

.index-footer .socials ul li a {
  text-decoration: none;
}

.index-footer .socials svg {
  height: 25px;
  width: auto;
  margin-right: 25px;
}

.index-footer .socials svg:hover path {
  fill: var(--cream);
  transition: fill 0.3s;
}

.index-footer .footer-text {
  margin-top: 20px;
  text-align: center;
  font-size: 70%;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* LOGIN PAGE */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.login-body {
  display: grid;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  grid-template-areas:
    "navbar"
    "card-section"
    "cues";
  background-color: var(--cream);
}

.login-nav {
  grid-area: navbar;
  display: grid;
  justify-content: center;
  padding-top: 20px;
}

.login-nav .logo-name {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  grid-column-gap: 50px;
}

.login-nav svg {
  width: 60px;
  height: auto;
}

.login-nav h3 {
  display: inline-block;
  color: var(--navy);
}

.card-section,
.cues {
  margin-top: 30px;
}

.card-section {
  grid-area: card-section;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas: ". card .";
}

.card {
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsl(24, 100%, 50%, 0.2);
}

.card-section .card {
  grid-area: card;
  background-color: var(--cloud);
  padding: 20px 100px 50px;
}

.card-section .card h2 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--navy);
}

.card-section .login-form {
  display: grid;
  justify-content: center;
  grid-row-gap: 20px;
}

.card-section .login-form input {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: 1.5px solid var(--gray);
  border-radius: 10px;
}

.card-section .login-form input:focus {
  border-color: var(--orange);
}

.card-section .login-form .btn {
  margin-top: 40px;
}

.card-section .login-form input,
.card-section .login-form .btn {
  width: 400px;
}

.cues {
  grid-area: cues;
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 200px;
  justify-content: center;
}

.cues a {
  color: var(--navy);
  transition: color 0.3s;
}

.cues a:hover {
  color: var(--orange);
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* SIGN UP PAGE */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.card-section .signup-form {
  display: grid;
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "signup-form-input"
    "signup-form-agreements"
    "signup-form-button";
}

.card-section .signup-form-input {
  grid-area: signup-form-input;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
}

.card-section .signup-form-agreements {
  grid-area: signup-form-agreements;
}

.card-section .signup-form-agreements label,
.card-section .signup-form-agreements input {
  display: inline-block;
  cursor: pointer;
}

.card-section .signup-form-agreements label {
  font-size: 80%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-section .signup-form-agreements .checkbox {
  width: auto;
}

.card-section .signup-form-button {
  grid-area: signup-form-button;
  display: grid;
  justify-content: center;
}

.card-section .signup-form-button .btn {
  margin: 0;
}

.card-section .signup-form input {
  width: 300px;
}

.card-section .signup-card {
  padding-bottom: 30px;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* SIGN UP PAGE */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.search-body {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "search-bar search-bar"
    "search-filter-sidebar search-results";
  background-color: var(--cream);
  grid-gap: 30px;
  padding: 20px 30px 10px 30px;
}

.search-bar,
.search-filter-sidebar {
  background-color: var(--cloud);
}

.search-bar {
  grid-area: search-bar;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "categories query";
  padding: 5px 10px;
  grid-column-gap: 35px;
}

.search-bar select,
.search-bar input {
  display: inline-block;
}

.search-bar .query {
  grid-area: query;
}

.search-bar .categories {
  grid-area: categories;
}

.search-bar .categories select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../resources/icons/down-arrow.svg) no-repeat;
  background-position: 100% center;
  background-size: 13%;
  width: 175px;
  height: 40px;
  font-size: 90%;
  border: none;
  margin-left: 20px;
}

.search-bar .query .search-query-form {
  height: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
}

.search-bar .query input[type="text"] {
  border: none;
  font-size: 90%;
  background-color: var(--cloud);
}

.search-bar .query button {
  background-color: var(--cloud);
  border: none;
  cursor: pointer;
}

.search-bar .query svg {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.search-filter-sidebar {
  grid-area: search-filter-sidebar;
  padding: 20px 40px;
  display: grid;
  grid-row-gap: 20px;
  color: var(--gray);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.search-filter-sidebar input,
.search-filter-sidebar label {
  display: inline-block;
  cursor: pointer;
}

.search-filter-sidebar label {
  font-size: 90%;
}

.search-filter-sidebar h4 {
  color: var(--navy);
}

.search-results {
  grid-area: search-results;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
}

.search-results .card {
  background-color: var(--cloud);
}

/*   
Lato: Bold 700;
font-family: 'Lato', sans-serif;


Poppins: Extra-Light 200;
         Light 300;
font-family: 'Poppins', sans-serif;

*/
